.container-sorteio {
    background-color: var(--secundaria);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82vh;
    font-family: var(--fonte1);
}

.fundo-quadro-sorteio {
    background-color: var(--aux1);
    padding: 20px;
    border-radius: 30px;
    border-right: 8px solid var(--principal);
    border-bottom: 8px solid var(--principal);
    text-align: center;
    width: 1060px;
}

.titulo-sorteio-texto {
    color: var(--principal);
    font-size: 60px;
}

.paragrafo-sorteio {
    font-size: 35px;
    color: var(--secundaria);
}

.paragrafo-sorteio-tentativas {
    font-size: 35px;
    color: var(--secundaria);
}

.botao-estatisticas {
    margin-right: 20px;
}